<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/static/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>messageBox</title>
  </head>
  <body>
    <div class="flex w-96 mx-auto">
      <p class="flex text-center justify-center text-red-600 mx-auto border-2 bg-red-200 border-red-600 rounded-2xl  w-96 h-32">
            <span class="flex w-10  font-bold my-auto">Erro</span>  
            <span class="flex w-10 my-auto material-icons text-red-600"> warning</span>
      </p>
    </div>
    
    

    <!-- 
        Cores de borda
        
        border-red-600 
        border-yellow-600 
        border-sky-600 
        border-green-600 

        icones

        ADM
        <span class="material-icons text-sky-600">
        check_circle_outline
        </span>

        OK
        <span class="material-icons text-green-600">
            done
        </span>
    -->
  </body>
</html>
